html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    min-height: 100vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

::selection {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    text-size-adjust: 30px;
    color: white;
    background-color: #A63A3A;
    padding: 40px;
    margin-top: 0px;
    letter-spacing: 4px;
    cursor: pointer;
}

h1:hover {
    color: #f8e7b7;
}

h2 {
    text-align: left;
    color: #A63A3A ;
    margin-top: 20px;
    margin-left: 20px; /* Add margin from the left */
    cursor: pointer;
    letter-spacing: 2px;
    text-shadow: #ccc 1px 1px 1px;
}
h2:hover {
    color: #a63a3ae5;
}

p {
    text-align: left;
    margin-top: 20px;
    margin-left: 30px; /* Add margin from the left */
    letter-spacing: 0.5px; /* Add letter spacing for better readability */
    background-color:#f8e7b7; /* Add the same background color as data-container */
    padding: 10px;
    border-radius: 10px;
    max-width: 85%;
}



label {
    display: block;
    margin-top: 10px;
}

input[type="text"] {
    width: 100px;
    padding: 5px;
}

input[type="number"] {
    width: 30px;
    padding: 5px;
    border: none; /* Remove the border */
    align-content: center;
}

#tableContainer {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}


table tr:first-child {

    background-color:#f2f2f2
}

table tr:last-child {

    background-color:#f2f2f2
}

td:nth-child(1){
    width: 200px;
}
td:nth-child(2),
td:nth-child(3), td:nth-child(4) {
    width: 50px; /* Adjust the width as desired */
}
/* Make the rest of the columns fit evenly until the end */
td:nth-child(n+5) {
    width: calc((100% - 200px - 50px - 50px - 50px) / 5);
}
td input[type="text"] {
    width: 80%;
}


td:nth-child(n+5):hover {
    background-color: #f5f5f5;
}

td.gray {
    background-color: gray;
}

/* make the first  column fixed */
td:nth-child(1),td:nth-child(2),
td:nth-child(3), td:nth-child(4) {
    position: sticky;
    left: 0;
    background-color: #f2f2f2;
}

/* Improve button styling */
.button-container {
    display: flex;
    justify-content: center; /* Center align buttons */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 10px;
}

.button-container button {
    padding: 12px 20px; /* Increase padding for better clickability */
    border-radius: 25px; /* Increase border-radius for more rounded corners */
    border: none; /* Remove border for a cleaner look */
    background-color: #A63A3A; /* Add background color */
    color: white; /* Set text color to white for better contrast */
    font-size: 16px; /* Increase font size for better readability */
    cursor: pointer; /* Add pointer cursor for better UX */
    transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.button-container button:hover {
    background-color: #a63a3acb; /* Darken background color on hover */
}

.data-container {
    text-align: center; /* Center the content horizontally */
    background-color: #f8e7b7;
    padding: 1px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 300px;
}

#tableContainer {
    margin-top: 10px;
    margin-bottom: 30px;
}

.data-container label {
    display: block; /* Change display to block */
    width: 100%; /* Set width to 100% */
    text-align: center; /* Center the text */
    margin-bottom: 1px;
    font-weight: bold;
}

.data-container input[type="number"] {
    display: inline-block; /* Display the input field inline */
    width: 60px; /* Set width to 50px */
    padding: 10px;
    border: 1px solid #CDB87A;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.button-container button{
    margin: 10px;
}

#exportToExcel {
    background-color: #0A0510;
}

#exportToExcel:hover {
    background-color: #0a0510cc; /* Darken background color on hover */
    transform: scale(1.1); /* Add zoom effect */
    transition: transform 0.3s ease; /* Smooth transition for zoom effect */
}

#generateTable, #autofillTable, #clearTable {
    background-color: #5C1E4C;
}

#generateTable:hover, #autofillTable:hover, #clearTable:hover {
    background-color: #5c1e4ccc; /* Darken background color on hover */
}

a {
    color: #A63A3A;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color:#0a0510cc;
}

/* FOOTER */
.footer {
    position: static;
    margin-top: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    background: linear-gradient(135deg, #A63A3A, #A63A3A);
    background-color: #A63A3A;
    color: aliceblue;
    padding: 10px 0; /* Added some padding for better spacing */
}

.footer p {
    color: #A63A3A;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: aliceblue;
}

.fa-github {
    color: aliceblue;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}