body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;

}

h1 {
    text-align: center;
    text-size-adjust: 30px;
    color: white;
    background-color: #3fa042ec;
    padding: 40px;
    border-radius: 20px;
    letter-spacing: 4px;
    cursor: pointer;
}

h1:hover {
    background-color: #3fa042;
}

h2 {
    text-align: left;
    color: #3fa042;
    margin-top: 20px;
    margin-left: 20px; /* Add margin from the left */
    cursor: pointer;
    letter-spacing: 2px;
    text-shadow: #ccc 1px 1px 1px;
}
h2:hover {
    color: #3fa042ec;
}

p {
    text-align: left;
    margin-top: 20px;
    margin-left: 30px; /* Add margin from the left */
    letter-spacing: 0.5px; /* Add letter spacing for better readability */
    background-color: #f2f2f2; /* Add the same background color as data-container */
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"] {
    width: 100px;
    padding: 5px;
}

input[type="number"] {
    width: 30px;
    padding: 5px;
    border: none; /* Remove the border */
    align-content: center;

}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button:hover {
    background-color: #45a049;
}

#tableContainer {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}


table tr:first-child {

    background-color:#f2f2f2
}

table tr:last-child {

    background-color:#f2f2f2
}

td:nth-child(1){
    width: 200px;
}
td:nth-child(2),
td:nth-child(3), td:nth-child(4) {
    width: 50px; /* Adjust the width as desired */
}
/* Make the rest of the columns fit evenly until the end */
td:nth-child(n+5) {
    width: calc((100% - 200px - 50px - 50px - 50px) / 5);
}
td input[type="text"] {
    width: 80%;
}


td:nth-child(n+5):hover {
    background-color: #f5f5f5;
}

td.gray {
    background-color: gray;
}

/* make the first  column fixed */
td:nth-child(1),td:nth-child(2),
td:nth-child(3), td:nth-child(4) {
    position: sticky;
    left: 0;
    background-color: #f2f2f2;
}

/* Improve button styling */
.button-container {
    display: flex;
    justify-content: center; /* Center align buttons */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.button-container button {
    padding: 12px 20px; /* Increase padding for better clickability */
    border-radius: 25px; /* Increase border-radius for more rounded corners */
    border: none; /* Remove border for a cleaner look */
    background-color: #4CAF50; /* Add background color */
    color: white; /* Set text color to white for better contrast */
    font-size: 16px; /* Increase font size for better readability */
    cursor: pointer; /* Add pointer cursor for better UX */
    transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
}

.button-container button:hover {
    background-color: #45a049; /* Darken background color on hover */
}

.data-container {
    text-align: center; /* Center the content horizontally */
    background-color: #f2f2f2;
    padding: 1px;
    border-radius: 10px;

    margin: 20px auto;
    max-width: 300px;
}

.data-container label {
    display: block; /* Change display to block */
    width: 100%; /* Set width to 100% */
    text-align: center; /* Center the text */
    margin-bottom: 1px;
    font-weight: bold;
}

.data-container input[type="number"] {
    display: inline-block; /* Display the input field inline */
    width: 60px; /* Set width to 50px */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
}
